#toolbar-main {
    -fx-spacing: 10px;
    -fx-padding: 3px;
    -fx-border-width: 2px;
    -fx-border-color: rgb(200,200,200);
    -fx-border-style: hidden hidden solid hidden;
    -fx-alignment: center-left;
}

#toolbar-shapes {
    -fx-spacing: 4px;
    -fx-border-width: 2px;
    -fx-border-color: rgb(200,200,200);
    -fx-border-style: hidden solid hidden hidden;
    -fx-padding: 0 12px 0 0;
}

#toolbar-settings {
    -fx-spacing: 4px;
    -fx-border-color: rgb(200,200,200);
    -fx-border-style: hidden solid hidden hidden;
    -fx-padding: 0 12px 0 0;
    -fx-alignment: center;
}

#toolbar-settings VBox {
    -fx-alignment: center;
}

#toolbar-edits {
    -fx-spacing: 4px;
}